[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = " A console"
[access "refs/*"]
	owner = group user/Abdulhadi5692HDI
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Abdulhadi5692HDI
	label-Verified = -1..+1 group user/Abdulhadi5692HDI
	push = group user/Abdulhadi5692HDI
	read = group user/Abdulhadi5692HDI
	rebase = group user/Abdulhadi5692HDI
	removeReviewer = group user/Abdulhadi5692HDI
	submit = group user/Abdulhadi5692HDI
[access "refs/heads/*"]
	create = group user/Abdulhadi5692HDI
	push = +force group user/Abdulhadi5692HDI
	pushMerge = group user/Abdulhadi5692HDI
	read = group user/Abdulhadi5692HDI
[access "refs/tags/*"]
	push = group user/Abdulhadi5692HDI
	push = +force group user/Abdulhadi5692HDI
